Repository banzaicloud/pipeline, pull requests merged in 2018-07, with the labels that each got.

#667 secrets: don't let update hidden secrets
  api/secrets.go
  secret/store.go
Labels: secrets

#673 Add TLS snippet to a auth client example
  client/examples/auth/main.go
  config/configuration.go
Labels: auth

#680 Disable parallel test runs, it eats all memory on CircleCI
  Makefile
Labels: build

#682 Test packages sequentially to prevent memory overflow
  Makefile
Labels: build

#690 Drone users should be defined as admins
  auth/user.go
Labels: cicd

#695 Add default image in pools in case of AWS update
  cluster/aws.go
  pkg/cluster/amazon/amazon.go
Labels: aws

#693 Fix GKE master/node versions in create request
  client/api/openapi.yaml
  client/api_clusters.go
  client/docs/ClustersApi.md
  docs/openapi/pipeline.yaml
  pkg/cluster/google/google.go
Labels: google

#694 Add default master instanceType and image in case of AWS
  pkg/cluster/amazon/amazon.go
Labels: aws

#696 Run dep ensure in CircleCI only if dependency configuration has changed
  .circleci/config.yml
Labels: CircleCI, build

#699 Use our own fork oci-go-sdk until body reading issues are fixed in upstream
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/oracle/oci-go-sdk/common/http.go
  vendor/github.com/oracle/oci-go-sdk/containerengine/containerengine_client.go
  vendor/github.com/oracle/oci-go-sdk/oci.go
  vendor/k8s.io/helm/pkg/timeconv/doc.go
  vendor/k8s.io/helm/pkg/timeconv/timeconv.go
Labels: oracle

#703 Postman: add application requests
  .gitignore
  api/applications.go
  docs/postman/e2e_test.postman_collection.json
Labels: postman

#714 Cluster Creation status reordering
  api/cluster.go
  api/helm.go
  cluster/common.go
  cluster/hooks.go
Labels: aws, azure, google, helm, oracle, status

#715 Fix ClusterConfig Swagger call
  client/README.md
  client/api/openapi.yaml
  client/api_clusters.go
  client/docs/ClusterConfig.md
  client/docs/ClustersApi.md
  client/model_cluster_config.go
  docs/openapi/pipeline.yaml
Labels: client

#720 Idempotent helm hooks
  cluster/hooks.go
  helm/helm.go
Labels: enhancement

#721 Check if Secret.version is provided before update
  secret/store.go
Labels: secrets
