Repository banzaicloud/pipeline, pull requests merged in 2018-12, with the labels that each got.

#1509 Redirect to custom URL if signup
  Gopkg.lock
  Gopkg.toml
  auth/authn.go
  auth/github.go
  auth/user.go
  config/config.toml.example
  config/configuration.go
Labels: auth

#1514 Add location information to alibaba bucket listing
  internal/providers/alibaba/objectstore.go
  pkg/providers/alibaba/objectstore/objectstore.go
Labels: alibaba, enhancement

#1501 Support private spotguide source repositories
  config/config.toml.example
  config/configuration.go
  spotguide/spotguide.go
Labels: spotguides
