Repository banzaicloud/pipeline, pull requests merged in 2019-11, with the labels that each got.

#2451 [Monitoring] Add regex check to retention field
  internal/clusterfeature/features/monitoring/spec.go
Labels: area/cluster-features

#2453 [Monitoring] Fix Grafana values
  internal/clusterfeature/features/monitoring/operator.go
Labels: area/cluster-features

#2455 [Monitoring] Add deafult Alertmanager values
  internal/clusterfeature/features/monitoring/operator.go
Labels: area/cluster-features

#2454 [Monitoring] Add deafult Prometheus values
  internal/clusterfeature/features/monitoring/operator.go
Labels: area/cluster-features

#2470 [Monitoring] Remove readonly tag from generated secrets
  internal/clusterfeature/features/monitoring/operator.go
  internal/clusterfeature/features/monitoring/operator_secret.go
Labels: area/cluster-features

#2471 [Monitoring] Fix create secret request in case of generate component secrets
  internal/clusterfeature/features/monitoring/operator_secret.go
Labels: area/cluster-features

#2475 update bank-vaults sdk to 0.2.1, contains close() fix
  go.mod
  go.sum
Labels: area/cluster-features, component/vault, kind/bug

#2469 [Logging] Add logging-operator-logging chart config
  config/config.yaml.dist
  internal/clusterfeature/features/logging/config.go
  internal/cmd/config.go
Labels: area/cluster-features

#2494 [Monitoring] Use persistent volume to store data in case of Grafana
  internal/clusterfeature/features/monitoring/operator.go
  internal/clusterfeature/features/monitoring/values.go
Labels: area/cluster-features

#2497 KubernetesService: fix scheme registration
  internal/kubernetes/scheme.go
  internal/kubernetes/service.go
Labels: area/cluster-features, kind/bug

#2496 [Logging] Merge generated values with config values
  internal/clusterfeature/features/logging/operator.go
Labels: area/cluster-features

#2499 [Logging] Add pullPolicy to Fluentbit and Fluentd image values
  internal/clusterfeature/features/logging/operator.go
  internal/clusterfeature/features/logging/values.go
Labels: area/cluster-features

#2501 [monitoring] Remove affinity and toleration from chart values
  internal/clusterfeature/features/monitoring/operator.go
  internal/clusterfeature/features/monitoring/values.go
Labels: area/cluster-features

#2513 [Logging] Set service monitor in case of logging-operator-logging
  internal/clusterfeature/features/logging/operator.go
  internal/clusterfeature/features/logging/values.go
Labels: area/cluster-features

#2518 [Monitoring] Set serviceMonitorSelectorNilUsesHelmValues to true in Pr…
  internal/clusterfeature/features/monitoring/operator.go
  internal/clusterfeature/features/monitoring/values.go
Labels: area/cluster-features

#2521 eks: RBAC should be always enabled
  cluster/eks.go
Labels: area/dashboard, kind/bug

#2523 Remove CommonCluster.GetK8sIpv4Cidrs
  cluster/ack.go
  cluster/aks.go
  cluster/common.go
  cluster/dummy.go
  cluster/ec2_pke.go
  cluster/eks.go
  cluster/gke.go
  cluster/kubernetes.go
  cluster/oke.go
  internal/providers/azure/pke/driver/commoncluster/cluster.go
  pkg/cluster/base.go
Labels: kind/tech-debt

#2529 Extend list object method of Kubernetes service with label options
  internal/clusterfeature/features/kubernetes.go
  internal/clusterfeature/features/logging/common_test.go
  internal/clusterfeature/features/logging/operator.go
  internal/clusterfeature/features/monitoring/common_test.go
  internal/clusterfeature/features/monitoring/operator.go
  internal/clusterfeature/features/vault/common_test.go
  internal/kubernetes/service.go
Labels: area/cluster-features

#2506 [Monitoring] Set hosts fields only in case of Loki ingress
  internal/clusterfeature/features/logging/operator.go
Labels: area/cluster-features

#2537 Fix config secret ID in azure PKE cluster setup
  internal/providers/azure/pke/workflow/create_cluster.go
Labels: cloud/azure, kind/bug, platform/pke

#2539 Fix missing activity registration
  cmd/worker/main.go
Labels: kind/bug

#2546 Fix UI signup redirect URL
  auth/authn.go
  cmd/pipeline/config.go
  cmd/pipeline/main.go
Labels: kind/bug

#2557 auth: support for google groups
  auth/oidc.go
  docker-compose.yml
  etc/config/dex.yml.dist
Labels: area/auth, component/dex

#2563 [Monitoring] Fix ingress annotations on Prometheus
  internal/clusterfeature/features/monitoring/operator.go
Labels: area/cluster-features

#2567 [Logging] Add service label to Logging resource
  internal/clusterfeature/features/logging/operator.go
Labels: area/cluster-features
