Repository banzaicloud/pipeline, pull requests merged in 2019-04, with the labels that each got.

#1916 Spotguides: Gitlab SCM support
  auth/github.go
  auth/gitlab.go
  auth/user.go
  cmd/pipeline/main.go
  config/config.toml.dist
  config/configuration.go
  docker-compose.override.yml.dist
  docker-compose.yml
  go.mod
  go.sum
  spotguide/scm/github.go
  spotguide/scm/gitlab.go
  spotguide/scm/scm.go
  spotguide/spotguide.go
Labels: area/spotguides, component/cicd

#1929 fix github spotguide init order
  spotguide/scm/github.go
Labels: area/spotguides, github, kind/bug

#1931 Update versions, change default helm cache path
  .gitignore
  config/config.toml.dist
Labels: DX

#1955 client: add version field to GetClusterStatusResponse
  client/SHA256SUMS
  client/api/openapi.yaml
  client/docs/GetClusterStatusResponse.md
  client/model_get_cluster_status_response.go
  docs/openapi/pipeline.yaml
Labels: area/client, openapi

#1958 client: GetDeploymentResponse.Values type fix
  client/SHA256SUMS
  client/api/openapi.yaml
  client/docs/GetDeploymentResponse.md
  client/model_get_deployment_response.go
  docs/openapi/pipeline.yaml
Labels: area/client, openapi
