Repository banzaicloud/pipeline, pull requests merged in 2019-10, with the labels that each got.

#2356 vault-feature: simplify role output
  internal/clusterfeature/features/vault/manager.go
  internal/clusterfeature/features/vault/manager_test.go
Labels: component/vault

#2359 Make issues API optional
  cmd/pipeline/config.go
  cmd/pipeline/main.go
  config/config.toml.dist
  internal/app/frontend/app.go
  internal/app/frontend/config.go
Labels: area/frontend

#2365 Fix Activity retry process in case of features
  internal/clusterfeature/clusterfeatureadapter/workflow/cluster_feature_apply_activity.go
  internal/clusterfeature/clusterfeatureadapter/workflow/cluster_feature_deactivate_activity.go
  internal/clusterfeature/clusterfeatureadapter/workflow/cluster_feature_job_workflow.go
  internal/clusterfeature/clusterfeatureadapter/workflow/common.go
Labels: area/cluster-features

#2367 Remove unused statestore
  .gitignore
  api/organization.go
  cluster/manager_delete.go
  config/config.toml.dist
  config/configuration.go
  internal/cluster/statestore/statestore.go
  internal/providers/azure/pke/driver/cluster_deleter.go
Labels: kind/tech-debt

#2375 Remove unused store method from common secret store
  internal/common/commonadapter/secret.go
  internal/common/secret.go
Labels: kind/tech-debt

#2402 Remove unused sha checksum
  .gen/pipeline/SHA256SUMS
  Makefile
Labels: kind/tech-debt

#2407 EKS: APIServerAccessPoints support
  .gen/pipeline/api/openapi.yaml
  .gen/pipeline/pipeline/model_create_eks_properties_eks.go
  apis/pipeline/pipeline.yaml
  cluster/eks.go
  database/migrations/mysql/1571746685_add_eks_api_server_access_points.dow.sql
  database/migrations/mysql/1571746685_add_eks_api_server_access_points.up.sql
  database/migrations/postgres/1571746685_add_eks_api_server_access_points.dow.sql
  database/migrations/postgres/1571746685_add_eks_api_server_access_points.up.sql
  model/cluster.go
  pkg/cluster/eks/action/actions.go
  pkg/cluster/eks/action/vpcconfigrequest.go
  pkg/cluster/eks/eks.go
Labels: platform/eks

#2273 migrations: remove dex_enabled column
  database/migrations/mysql/1572427965_drop_dex_enabled_field_to_amazon_ec2_clusters.down.sql
  database/migrations/mysql/1572427965_drop_dex_enabled_field_to_amazon_ec2_clusters.up.sql
  database/migrations/postgres/1572427965_drop_dex_enabled_field_to_amazon_ec2_clusters.down.sql
  database/migrations/postgres/1572427965_drop_dex_enabled_field_to_amazon_ec2_clusters.up.sql
  internal/providers/pke/model.go
Labels: area/database, component/dex

#2342 PKE on Azure - support for accessing API server through private endpoint
  .gen/pipeline/api/openapi.yaml
  .gen/pipeline/pipeline/model_create_cluster_request_v2.go
  .gen/pipeline/pipeline/model_create_pke_on_azure_cluster_request.go
  .gen/pipeline/pipeline/model_create_pke_on_azure_cluster_request_all_of.go
  .idea/runConfigurations/Debug.xml
  api/cluster/pke_azure.go
  api/cluster/pke_azure_test.go
  apis/pipeline/pipeline.yaml
  cluster/common.go
  cmd/pipeline/main.go
  cmd/worker/azure.go
  cmd/worker/main.go
  database/migrations/mysql/1571639060_add_pke_azure_accesspoints.down.sql
  database/migrations/mysql/1571639060_add_pke_azure_accesspoints.up.sql
  database/migrations/postgres/1571639060_add_pke_azure_accesspoints.down.sql
  database/migrations/postgres/1571639060_add_pke_azure_accesspoints.up.sql
  internal/database/sql/json/json.go
  internal/providers/azure/pke/adapter/gorm_store.go
  internal/providers/azure/pke/adapter/gorm_store_test.go
  internal/providers/azure/pke/cluster.go
  internal/providers/azure/pke/driver/cluster_creator.go
  internal/providers/azure/pke/driver/cluster_deleter.go
  internal/providers/azure/pke/driver/cluster_updater.go
  internal/providers/azure/pke/driver/common.go
  internal/providers/azure/pke/store.go
  internal/providers/azure/pke/workflow/collect_update_cluster_providers_activity.go
  internal/providers/azure/pke/workflow/create_cluster.go
  internal/providers/azure/pke/workflow/create_infra.go
  internal/providers/azure/pke/workflow/create_lb_activity.go
  internal/providers/azure/pke/workflow/create_public_ip_activity.go
  internal/providers/azure/pke/workflow/create_vmss_activity.go
  internal/providers/azure/pke/workflow/create_vmss_activity_test.go
  internal/providers/azure/pke/workflow/delete_cluster.go
  internal/providers/azure/pke/workflow/delete_infra.go
  internal/providers/azure/pke/workflow/update_cluster.go
  internal/providers/azure/pke/workflow/update_cluster_accesspoints_activity.go
Labels: kind/enhancement
