Repository banzaicloud/pipeline, pull requests merged in 2019-03, with the labels that each got.

#1826 Fix alibaba sdk error when trying to get cluster details on a still c…
  pkg/cluster/acsk/action/action_utils.go
Labels: area/cluster, cloud/alibaba

#1829 Always use the first subnet as worker subnet
  pkg/cluster/eks/action/actions.go
Labels: platform/eks

#1832 Use zoneId in location field in case of ACK
  cluster/acsk.go
Labels: cloud/alibaba

#1853 dex: propagate client delete error
  internal/providers/pke/pkeworkflow/delete_dex_client.go
Labels: area/distribution

#1846 pke: change vault pki paths to orgID/clusterID
  secret/store.go
Labels: area/distribution

#1856 update auth package to v0.1.0
  go.mod
  go.sum
Labels: area/auth, component/dex

#1903 Install Istio with istio-operator
  client/SHA256SUMS
  client/api/openapi.yaml
  client/docs/ServiceMeshPostHookInstallServiceMesh.md
  client/model_service_mesh_post_hook_install_service_mesh.go
  cluster/hooks_istio.go
  cluster/istio_operator.go
  config/config.toml.dist
  config/configuration.go
  docs/openapi/pipeline.yaml
  go.mod
  go.sum
  internal/istio/istio.go
  internal/istio/labels.go
  pkg/k8sutil/namespace.go
Labels: component/istio

#1914 gitlabURL fix
  auth/gitlab.go
Labels: gitlab
