Repository banzaicloud/pipeline, pull requests merged in 2020-04, with the labels that each got.

#2836 db: diff postgres migrations with migra
  .circleci/config.yml
Labels: area/database

#2837 cicdDB is optional
  cmd/pipeline/main.go
Labels: component/cicd

#2832 chart: extend tls for worker intercommunication
  .gitignore
  charts/pipeline/.gitignore
  charts/pipeline/Chart.yaml
  charts/pipeline/templates/_helpers.tpl
  charts/pipeline/templates/deployment-worker.yaml
  charts/pipeline/templates/deployment.yaml
  charts/pipeline/templates/secrets.yaml
  charts/pipeline/templates/service.yaml
  charts/pipeline/values.yaml
  config/certs/client-non-pipeline-key.pem
  config/certs/client-non-pipeline.pem
  src/auth/authn_test.go
  src/auth/serviceaccount.go
Labels: area/auth, component/helm, kind/enhancement

#2848 add go templates to cloudformation templates
  cmd/pipeline/config.go
  cmd/worker/config.go
  config/config.yaml.dist
  internal/cluster/distribution/eks/eksprovider/workflow/templates.go
  internal/global/config.go
  templates/eks/amazon-eks-nodepool-cf.yaml
Labels: platform/eks

#2825 Process log - MVP
  .circleci/config.yml
  .gen/pipeline/api/openapi.yaml
  .gen/pipeline/pipeline/model_process.go
  .gen/pipeline/pipeline/model_process_event.go
  .gen/pipeline/pipeline/model_process_status.go
  apis/pipeline/pipeline.yaml
  cmd/pipeline/main.go
  cmd/pipeline/migrate.go
  cmd/worker/main.go
  database/migrations/mysql/1587036840_add_process_tables.down.sql
  database/migrations/mysql/1587036840_add_process_tables.up.sql
  database/migrations/postgres/1587036840_add_process_tables.down.sql
  database/migrations/postgres/1587036840_add_process_tables.up.sql
  go.mod
  go.sum
  internal/app/pipeline/process/activity.go
  internal/app/pipeline/process/app/app.go
  internal/app/pipeline/process/common.go
  internal/app/pipeline/process/mock_Service.go
  internal/app/pipeline/process/process.go
  internal/app/pipeline/process/processadapter/gorm.go
  internal/app/pipeline/process/processadapter/gorm_store.go
  internal/app/pipeline/process/processdriver/transport_http.go
  internal/app/pipeline/process/processdriver/zz_generated.endpoint.go
  internal/cluster/clusteradapter/distribution_eks.go
  internal/cluster/clusterdriver/transport_http.go
  internal/cluster/clusterdriver/zz_generated.endpoint.go
  internal/cluster/distribution/eks/eksadapter/node_pool_manager.go
  internal/cluster/distribution/eks/eksworkflow/common.go
  internal/cluster/distribution/eks/eksworkflow/workflow_update_node_pool.go
  internal/cluster/distribution/eks/service.go
  internal/cluster/service.go
  internal/cluster/service_node_pool.go
  internal/cluster/service_node_pool_test.go
  internal/cluster/zz_generated.mock.go
Labels: component/temporal

#2856 remove spotguides feature
  .gen/pipeline/api/openapi.yaml
  .gen/pipeline/pipeline/model_create_pke_on_vsphere_cluster_request.go
  .gen/pipeline/pipeline/model_create_pke_on_vsphere_cluster_request_all_of.go
  .gen/pipeline/pipeline/model_launch_spotguides_request.go
  .gen/pipeline/pipeline/model_pke_on_vsphere_node_pool.go
  .gen/pipeline/pipeline/model_spotguide_details_response.go
  .gen/pipeline/pipeline/model_spotguide_option.go
  apis/pipeline/pipeline.yaml
  apis/pipeline/postman.json
  cmd/pipeline/main.go
  cmd/worker/main.go
  config/config.yaml.dist
  config/ui/feature-set.json.dist
  go.mod
  go.sum
  internal/app/pipeline/api/middleware/audit/middleware.go
  internal/cmd/config.go
  internal/global/config.go
  src/api/spotguide.go
  src/spotguide/cicdconfig.go
  src/spotguide/cicdrepoconfig_test.go
  src/spotguide/log.go
  src/spotguide/migrate.go
  src/spotguide/scm/github.go
  src/spotguide/scm/gitlab.go
  src/spotguide/scm/scm.go
  src/spotguide/spotguide.go
  src/spotguide/spotguide_test.go
  src/spotguide/sync_spotguides_workflow.go
Labels: area/spotguides

#2860 auth: send initial token for cli in header
  src/auth/authn.go
Labels: area/auth, area/client

#2878 fix eksClusterUserAccessKey deletion and remove DeleteClusterUserAccessKeyActivity
  cmd/worker/eks.go
  internal/cluster/distribution/eks/eksprovider/workflow/create_cluster_user_access_key_activity.go
  internal/cluster/distribution/eks/eksprovider/workflow/create_infra.go
  internal/cluster/distribution/eks/eksprovider/workflow/create_infra_test.go
  internal/cluster/distribution/eks/eksprovider/workflow/delete_cluster_user_access_key_activity.go
  internal/cluster/distribution/eks/eksprovider/workflow/delete_infra.go
  internal/cluster/distribution/eks/eksprovider/workflow/delete_infra_test.go
Labels: platform/eks

#2890 Fix drain deadlock
  internal/platform/gin/drain.go
Labels: kind/bug

#2891 Fix drain deadlock
  internal/platform/gin/drain.go
Labels: kind/bug

#2892 Fix drain lock
  internal/platform/gin/drain.go
Labels: kind/bug

#2887 add eks subnet deletion
  src/cluster/eks.go
Labels: platform/eks

#2853 add cancel process api
  .gen/pipeline/api/openapi.yaml
  .gen/pipeline/pipeline/model_process_status.go
  apis/pipeline/pipeline.yaml
  cmd/pipeline/main.go
  cmd/worker/main.go
  internal/app/pipeline/process/app/app.go
  internal/app/pipeline/process/mock_Service.go
  internal/app/pipeline/process/process.go
  internal/app/pipeline/process/processdriver/transport_http.go
  internal/app/pipeline/process/processdriver/zz_generated.endpoint.go
  internal/cluster/distribution/eks/eksworkflow/workflow_update_node_pool.go
  pkg/sdk/process/process.go
Labels: area/process
