Repository banzaicloud/pipeline, pull requests merged in 2020-08, with the labels that each got.

#3079 Refactor AWS auth config
  .gen/pipeline/api/openapi.yaml
  .gen/pipeline/pipeline/model_create_eks_properties_eks.go
  .gen/pipeline/pipeline/model_eks_auth_config.go
  .gen/pipeline/pipeline/model_eks_auth_config_roles.go
  .gen/pipeline/pipeline/model_eks_auth_config_users.go
  apis/pipeline/pipeline.yaml
  internal/cluster/distribution/eks/ekscluster/eks.go
  src/cluster/eks.go
Labels: distribution/eks

#3086 fix(TLS): configure TLS MinVersion to 1.3
  cmd/pipeline/main.go
  cmd/pipelinectl/main.go
  internal/app/pipelinectl/cli/commands/telemetry/telemetry.go
  internal/security/anchore_client.go
  src/api/anchore_proxy.go
  src/api/cluster_auth.go
  src/auth/oidc.go
  src/auth/tls.go
Labels: component/anchore, kind/tech-debt

#3096 fix(oidc): downgraded TLS to 1.2
  src/auth/oidc.go
Labels: area/auth, component/dex, kind/bug, size/S

#3097 fix(TLS): removed MinVersion configuration
  cmd/pipeline/main.go
  cmd/pipelinectl/main.go
  internal/app/pipelinectl/cli/commands/telemetry/telemetry.go
  internal/security/anchore_client.go
  src/api/anchore_proxy.go
  src/api/cluster_auth.go
  src/auth/oidc.go
  src/auth/tls.go
Labels: kind/bug, size/S

#3098 chore(make): improved start target DX
  Makefile
Labels: DX, size/S

#3099 Add PKE fallback image override config
  cmd/worker/main.go
  config/config.yaml.dist
  internal/cmd/config.go
Labels: area/cluster, cloud/aws, distribution/pke, kind/enhancement

#3100 Allow changing the default network provider
  config/config.yaml.dist
  internal/cmd/config.go
  internal/global/config.go
  internal/pke/kubernetes.go
  pkg/cluster/pke/types.go
Labels: area/cluster, cloud/aws, distribution/pke, kind/enhancement, reporter/customer

#3104 chore(developer.md): fixed PKE external URL
  docs/developer.md
Labels: DX, distribution/pke

#3108 Exclude plz-out directory
  .idea/pipeline.iml
Labels: DX, kind/enhancement

#3105 chore(developer.md): clarified PKE instructions
  docs/developer.md
Labels: DX, distribution/pke

#3107 fix(AWS): added unique client request token
  internal/cluster/clusterworkflow/activity_create_node_pool.go
  internal/cluster/clusterworkflow/activity_delete_node_pool.go
  internal/cluster/distribution/eks/eksprovider/workflow/amazon.go
  internal/cluster/distribution/eks/eksprovider/workflow/create_asg_activity.go
  internal/cluster/distribution/eks/eksprovider/workflow/create_eks_control_plane_activity.go
  internal/cluster/distribution/eks/eksprovider/workflow/create_iam_roles_activity.go
  internal/cluster/distribution/eks/eksprovider/workflow/create_infra.go
  internal/cluster/distribution/eks/eksprovider/workflow/create_infra_test.go
  internal/cluster/distribution/eks/eksprovider/workflow/create_subnet_activity.go
  internal/cluster/distribution/eks/eksprovider/workflow/create_vpc_activity.go
  internal/cluster/distribution/eks/eksprovider/workflow/delete_infra.go
  internal/cluster/distribution/eks/eksprovider/workflow/delete_infra_test.go
  internal/cluster/distribution/eks/eksprovider/workflow/delete_stack_activity.go
  internal/cluster/distribution/eks/eksprovider/workflow/update_asg_activity.go
  internal/cluster/distribution/eks/eksworkflow/activity_update_node_group.go
  internal/providers/pke/pkeworkflow/create_aws_worker_pool_activity.go
  internal/providers/pke/pkeworkflow/delete_aws_pool_activity.go
  internal/providers/pke/pkeworkflow/delete_vpc_activity.go
  pkg/providers/amazon/client_request_token.go
  src/cluster/eks_update_cluster.go
Labels: cloud/aws, component/cadence, distribution/eks, distribution/pke, kind/bug

#3076 fix(EKS): removed node pool create failure residue
  internal/cluster/clusterworkflow/activity_create_node_pool.go
  internal/cluster/clusterworkflow/workflow_create_node_pool.go
  internal/cluster/clusterworkflow/workflow_delete_node_pool.go
Labels: area/node-pool, cloud/aws, component/cadence, distribution/eks, kind/bug

#3116 chore(deps): updated aws-sdk-go (1.28.2->)1.34.4
  go.mod
  go.sum
  internal/cluster/distribution/eks/eksprovider/workflow/zz_generated.mock.go
Labels: area/distribution, cloud/aws, distribution/eks, distribution/pke, kind/tech-debt

#3113 chore(Go): updated Go version (1.14[.x]->)1.15
  .circleci/config.yml
  .github/workflows/ci.yml
  Dockerfile
  Dockerfile.alpine
  Dockerfile.debug
  Dockerfile.local
  Makefile
  charts/pipeline/.helmignore
  etc/build/Dockerfile
  go.mod
  pkg/sdk/go.mod
Labels: build, kind/tech-debt

#3119 chore(generation): keep BUILD file
  Makefile
Labels: DX

#3121 chore(Makefile): added generation plz BUILD file backups, fixed backup/restore message
  Makefile
Labels: DX

#3117 feat(EKS): added envelope encryption
  .gen/pipeline/api/openapi.yaml
  .gen/pipeline/pipeline/model_create_eks_properties_eks.go
  .gen/pipeline/pipeline/model_eks_encryption_config.go
  .gen/pipeline/pipeline/model_eks_encryption_config_provider.go
  apis/pipeline/pipeline.yaml
  apis/pipeline/postman.json
  internal/cluster/distribution/eks/eksadapter/node_pool_store_test.go
  internal/cluster/distribution/eks/ekscluster/eks.go
  internal/cluster/distribution/eks/eksprovider/driver/cluster_creator.go
  internal/cluster/distribution/eks/eksprovider/driver/cluster_creator_test.go
  internal/cluster/distribution/eks/eksprovider/workflow/amazon.go
  internal/cluster/distribution/eks/eksprovider/workflow/create_eks_control_plane_activity.go
  internal/cluster/distribution/eks/eksprovider/workflow/create_infra.go
  internal/cluster/distribution/eks/eksprovider/workflow/create_infra_test.go
  src/cluster/eks.go
  src/cluster/eks_create_cluster.go
Labels: area/cluster, cloud/aws, distribution/eks, kind/enhancement

#3122 chore(kubefed): updated version (0.3.1-banzai.1->)0.4.0
  config/config.yaml.dist
  go.mod
  go.sum
  internal/cmd/config.go
  internal/federation/config.go
  internal/federation/deployment.go
  internal/federation/reconcile_controller.go
  internal/helm/integration_test.go
Labels: kind/tech-debt

#3126 fix(EKSEncryptionConfig): clarified error message
  internal/cluster/distribution/eks/eksprovider/driver/cluster_creator.go
  internal/cluster/distribution/eks/eksprovider/driver/cluster_creator_test.go
Labels: area/cluster, cloud/aws, distribution/eks

#3128 Increase EKS node volume size
  templates/eks/amazon-eks-nodepool-cf.yaml
Labels: area/node-pool, cloud/aws, distribution/eks, kind/enhancement, reporter/customer

#3140 Add new snapshot workflow for workflow_dispatch event
  .github/workflows/snapshot.old.yml
  .github/workflows/snapshot.yml
Labels: DX, kind/enhancement
