Repository banzaicloud/pipeline, pull requests merged in 2020-11, with the labels that each got.

#3275 chore: relocated misplaced activity init
  cmd/worker/eks.go
  cmd/worker/main.go
Labels: DX, area/node-pool, component/cadence, kind/tech-debt

#3255 use square/go-jose for JWTs
  .licensei.toml
  database/migrations/mysql/1603974362_drop_sign_logs_column_from_auth_identities_table.down.sql
  database/migrations/mysql/1603974362_drop_sign_logs_column_from_auth_identities_table.up.sql
  database/migrations/postgres/1603974362_drop_sign_logs_column_from_auth_identities_table.down.sql
  database/migrations/postgres/1603974362_drop_sign_logs_column_from_auth_identities_table.up.sql
  go.mod
  go.sum
  internal/app/pipeline/auth/token/token.go
  internal/app/pipeline/auth/token/token_test.go
  internal/app/pipeline/auth/token/zz_generated.mock_test.go
  internal/hollowtrees/hollowtrees.go
  internal/integratedservices/services/vault/common_test.go
  pkg/auth/token.go
  pkg/auth/token_test.go
  pkg/auth/zz_generated.mock_test.go
  src/api/cluster_auth.go
  src/auth/authn.go
  src/auth/oidc.go
  src/auth/token.go
  src/auth/user.go
Labels: area/auth, kind/enhancement, kind/tech-debt

#3281 fix(#3280/AWS/DeleteStack): fixed existence check
  internal/cluster/infrastructure/aws/awsworkflow/delete_stack_activity.go
Labels: area/node-pool, cloud/aws, distribution/eks, distribution/pke, kind/bug

#3242 Pke nodepool delete
  cmd/pipeline/main.go
  cmd/worker/aws.go
  cmd/worker/main.go
  cmd/worker/pke.go
  internal/cluster/clusteradapter/distribution_pke.go
  internal/cluster/distribution/pke/node_pool.go
  internal/cluster/distribution/pke/pkeaws/common.go
  internal/cluster/distribution/pke/pkeaws/pkeawsadapter/node_pool_manager.go
  internal/cluster/distribution/pke/pkeaws/pkeawsadapter/node_pool_manager_test.go
  internal/cluster/distribution/pke/pkeaws/pkeawsadapter/node_pool_store.go
  internal/cluster/distribution/pke/pkeaws/pkeawsprovider/workflow/activity_delete_stored_node_pool.go
  internal/cluster/distribution/pke/pkeaws/pkeawsprovider/workflow/activity_delete_stored_node_pool_test.go
  internal/cluster/distribution/pke/pkeaws/pkeawsprovider/workflow/common.go
  internal/cluster/distribution/pke/pkeaws/pkeawsprovider/workflow/delete_node_pool_workflow.go
  internal/cluster/distribution/pke/pkeaws/pkeawsprovider/workflow/delete_node_pool_workflow_test.go
  internal/cluster/distribution/pke/pkeaws/pkeawsprovider/workflow/zz_generated.mock.go
  internal/cluster/distribution/pke/service.go
  internal/cluster/distribution/pke/service_test.go
  internal/cluster/distribution/pke/zz_generated.mock.go
  internal/cluster/distribution/pke/zz_generated.mock_test.go
Labels: area/node-pool, cloud/aws, distribution/pke

#3287 auth: handle ExpiresAt correctly even if set but 0
  src/auth/token.go
Labels: area/auth, kind/bug

#3288 fix(Token): fixed cluster token validation
  pkg/auth/token.go
  pkg/auth/token_test.go
Labels: area/auth, component/vault, kind/bug

#3291 update gin-utilz to v0.3.1
  go.mod
  go.sum
Labels: area/auth

#3297 Fix editorconfig
  .editorconfig
Labels: DX

#3298 Switch to read-only stable chart repo
  .gen/pipeline/api/openapi.yaml
  apis/pipeline/pipeline.yaml
  config/config.yaml.dist
  internal/clustergroup/deployment/integration_test.go
  internal/cmd/config.go
  internal/federation/reconcile_ext_dns_test.go
  internal/helm/integration_test.go
  internal/helm/releaser_service_integration_test.go
  internal/helm/service_test.go
Labels: component/helm, kind/enhancement

#3296 Update cluster autoscaler config
  config/config.yaml.dist
  internal/cmd/config.go
Labels: area/cluster, kind/enhancement

#3302 Update components
  config/config.yaml.dist
  internal/cmd/config.go
Labels: kind/enhancement

#3306 Update PKE version
  internal/cluster/distribution/pke/pkeaws/pkeaws.go
  internal/providers/azure/pke/driver/cluster_creator.go
  internal/providers/vsphere/pke/driver/cluster_creator.go
Labels: cloud/aws, cloud/azure, cloud/vsphere, distribution/pke, kind/enhancement

#3307 fix(EKS/UpdateNP): handle all error kinds
  internal/cluster/distribution/eks/eksworkflow/activity_update_node_group.go
Labels: area/node-pool, cloud/aws, distribution/eks, kind/bug

#3317 refactor(ClAPI.UCl): simplified node pool deletion
  internal/cluster/distribution/eks/eksprovider/driver/cluster_updater.go
  src/cluster/eks_update_cluster.go
Labels: DX, area/cluster, area/node-pool, cloud/aws, distribution/eks, kind/tech-debt

#3318 fix(EKS/CNPWF): fixed input field propagation
  internal/cluster/distribution/eks/eksprovider/workflow/create_infra.go
  internal/cluster/distribution/eks/eksprovider/workflow/create_node_pool_workflow.go
  internal/cluster/distribution/eks/eksprovider/workflow/create_node_pool_workflow_test.go
Labels: area/cluster, area/node-pool, cloud/aws, distribution/eks, kind/tech-debt

#3321 fix(template/EKS/NP): fixed parameter metadata
  templates/eks/amazon-eks-nodepool-cf.yaml
Labels: DX, area/node-pool, cloud/aws, distribution/eks, kind/tech-debt

#3323 Renamed EKS node pool CloudFormation template's SecurityGroups to CustomNodeSecurityGroups
  templates/eks/amazon-eks-nodepool-cf.yaml
Labels: DX, area/node-pool, cloud/aws, distribution/eks, kind/tech-debt

#3332 Added user security group propagation to EKS.NodePoolAPI.CreateNodePool
  internal/cluster/distribution/eks/eksprovider/workflow/create_asg_activity.go
  internal/cluster/distribution/eks/node_pool.go
  internal/cluster/distribution/eks/service_test.go
Labels: area/node-pool, cloud/aws, distribution/eks, kind/enhancement

#3327 auth: remove qor from user/auth code
  Dockerfile
  Dockerfile.alpine
  Dockerfile.debug
  Dockerfile.local
  cmd/pipeline/main.go
  go.mod
  go.sum
  internal/platform/gin/ginauth/middleware_test.go
  src/auth/authhandler.go
  src/auth/authn.go
  src/auth/authn_test.go
  src/auth/oidc.go
  src/auth/session.go
  src/auth/user.go
  src/auth/user_test.go
  views/auth/login.tmpl
  views/auth/login/providers/dex.tmpl
  views/auth/login/providers/github.tmpl
  views/auth/register.tmpl
  views/auth/register/providers/dex.tmpl
  views/auth/register/providers/github.tmpl
Labels: area/auth, kind/tech-debt

#3333 Added user security group propagation to EKS.ClusterAPI.CreateCluster
  internal/cluster/distribution/eks/ekscluster/eks.go
  internal/cluster/distribution/eks/eksprovider/driver/cluster_creator.go
  internal/cluster/distribution/eks/eksprovider/workflow/create_infra_test.go
Labels: area/cluster, area/node-pool, cloud/aws, distribution/eks, kind/enhancement

#3326 Refactored EKS ClusterAPI.UpdateCluster to use CreateNodePoolWorkflow for new node pools
  internal/cluster/distribution/eks/eksprovider/driver/cluster_updater.go
  internal/cluster/distribution/eks/eksprovider/driver/cluster_updater_test.go
  src/cluster/eks_update_cluster.go
Labels: DX, area/cluster, area/node-pool, cloud/aws, distribution/eks, kind/tech-debt

#3337 Added EKS node pool user security groups to EKS.NodePoolAPI.ListNodePools output
  internal/cluster/clusteradapter/distribution_eks_test.go
  internal/cluster/distribution/eks/eksadapter/node_pool_manager_test.go
  internal/cluster/distribution/eks/service.go
  internal/cluster/distribution/eks/service_test.go
Labels: area/node-pool, cloud/aws, distribution/eks, kind/enhancement

#3336 Added user security group propagation to EKS.ClusterAPI.UpdateCluster
  internal/cluster/distribution/eks/eksprovider/driver/cluster_updater.go
  internal/cluster/distribution/eks/eksprovider/driver/cluster_updater_test.go
  internal/cluster/distribution/eks/eksprovider/workflow/amazon.go
  internal/cluster/distribution/eks/eksprovider/workflow/update_asg_activity.go
  src/cluster/eks_update_cluster.go
Labels: area/cluster, area/node-pool, cloud/aws, distribution/eks, kind/enhancement

#3348 Bump anchore-policy-validator chart version
  internal/cmd/config.go
Labels: area/security-scan

#3349 Fixed EKS node pool CloudFormation template KeyName type
  templates/eks/amazon-eks-nodepool-cf.yaml
Labels: area/node-pool, cloud/aws, distribution/eks, kind/bug
