Repository banzaicloud/pipeline, pull requests merged in 2020-07, with the labels that each got.

#2990 anchore: custom registry support
  internal/integratedservices/services/securityscan/operator.go
  internal/integratedservices/services/securityscan/spec.go
  internal/security/anchore_client.go
Labels: area/integrated-services, component/anchore

#3011 chore(integratedservices): regenerated mock file, added ApplyDeploymentV3
  internal/integratedservices/services/zz_generated.mock.go
Labels: area/integrated-services

#3020 Upgrade Cadence
  docker-compose.yml
  go.mod
  go.sum
Labels: component/cadence, kind/enhancement

#3038 Fix indentation in the example config
  config/config.yaml.dist
Labels: kind/bug

#3040 fix(Postman): corrected node pool list API path
  apis/pipeline/postman.json
Labels: cloud/aws, dev/postman, distribution/eks, kind/bug, size/S

#3043 traefik: rbac should be enabled
  internal/cmd/config.go
  internal/cmd/config_test.go
Labels: area/integrated-services, kind/bug

#3048 Fix vault address in vault service tests
  internal/integratedservices/services/vault/manager_test.go
Labels: area/integrated-services, kind/bug

#3065 Upgrade cadence in the local development environment
  docker-compose.yml
Labels: component/cadence, kind/enhancement

#3064 Automatically add go.mod to plz-out
  BUILD.plz
Labels: kind/enhancement

#3072 Add EKS GPU accelerated images
  docs/developer.md
  internal/cluster/distribution/eks/image_selector_defaults.go
Labels: cloud/aws, distribution/eks, kind/enhancement

#3074 Fix mocks in image selectors
  internal/cluster/distribution/eks/image_selector_test.go
  internal/cluster/distribution/pke/pkeaws/image_selector_test.go
Labels: cloud/aws, distribution/eks, distribution/pke, kind/bug
