Repository banzaicloud/pipeline, pull requests merged in 2020-09, with the labels that each got.

#3143 chore(config.dist): removed `kubernetes.namespace`
  config/config.yaml.dist
Labels: kind/tech-debt

#3154 Add new AWS regions for EKS
  internal/cluster/distribution/eks/image_selector_defaults.go
Labels: area/cluster, cloud/aws, distribution/eks, kind/enhancement

#3153 feat(EKS/NPList): added volume size to response
  .gen/pipeline/api/openapi.yaml
  .gen/pipeline/pipeline/model_eks_node_pool_all_of.go
  .gen/pipeline/pipeline/model_node_pool.go
  apis/pipeline/pipeline.yaml
  internal/cluster/clusteradapter/distribution_eks_test.go
  internal/cluster/distribution/eks/eksadapter/node_pool_manager.go
  internal/cluster/distribution/eks/eksadapter/node_pool_manager_test.go
  internal/cluster/distribution/eks/service.go
  internal/cluster/distribution/eks/service_test.go
Labels: area/client, area/node-pool, cloud/aws, dev/openapi, distribution/eks, kind/enhancement

#3155 Add new AWS regions for PKE
  internal/cluster/distribution/pke/pkeaws/image_selector_defaults.go
Labels: area/cluster, cloud/aws, distribution/pke, kind/enhancement

#3156 fix(OpenAPI/EKS/NPList): fixed volume size type
  .gen/pipeline/api/openapi.yaml
  .gen/pipeline/pipeline/model_eks_node_pool_all_of.go
  .gen/pipeline/pipeline/model_node_pool.go
  apis/pipeline/pipeline.yaml
Labels: area/node-pool, cloud/aws, dev/openapi, distribution/eks, kind/bug

#3168 vsphere: pass vcpu and ram to cloneSpec
  internal/providers/vsphere/pke/adapter/gorm_store.go
  internal/providers/vsphere/pke/cluster.go
  internal/providers/vsphere/pke/driver/cluster_creator.go
  internal/providers/vsphere/pke/driver/preparers.go
  internal/providers/vsphere/pke/workflow/create_node_activity.go
Labels: cloud/vsphere, distribution/pke, kind/enhancement

#3171 fix(NPUpdate/Delete): replaced name -> storedName
  internal/cluster/clusteradapter/node_pool_store.go
  internal/cluster/service_node_pool.go
  internal/cluster/service_node_pool_test.go
  internal/cluster/zz_generated.mock_test.go
Labels: area/node-pool, cloud/aws, distribution/eks, kind/bug

#3180 fix(ListNodePools): added subnet ID retrieval
  internal/cluster/distribution/eks/eksadapter/node_pool_manager.go
  internal/cluster/distribution/eks/eksadapter/node_pool_manager_test.go
  internal/cluster/distribution/eks/service.go
Labels: area/node-pool, cloud/aws, distribution/eks, kind/bug

#3182 Upgrade please
  .plzconfig
  .plzconfig.ci
  .plzconfig.local.dist
  BUILD.plz
  charts/pipeline/BUILD
  cmd/pipeline/BUILD
Labels: kind/enhancement

#3184 Upgrade cadence SDK
  go.mod
  go.sum
Labels: component/cadence, kind/enhancement

#3189 Diasble Kubernetes dashboard installation by default
  config/config.yaml.dist
  internal/cmd/config.go
Labels: kind/bug
