Repository banzaicloud/pipeline, pull requests merged in 2020-10, with the labels that each got.

#3200 pke: better nodepool role check in update
  internal/providers/pke/pkeworkflow/update_node_group_activity.go
Labels: distribution/pke

#3203 fix cluster role ID validation
  internal/cluster/distribution/eks/eksprovider/workflow/validate_iam_role.go
Labels: distribution/eks, kind/bug

#3202 Add isPassword field to secret-type response
  .gen/pipeline/api/openapi.yaml
  .gen/pipeline/pipeline/model_secret_type_response_fields.go
  apis/pipeline/pipeline.yaml
  internal/app/pipeline/secrettype/types.go
  internal/secret/secrettype/secret.go
  internal/secret/type.go
  internal/secret/types/type_alibaba.go
  internal/secret/types/type_amazon.go
  internal/secret/types/type_azure.go
  internal/secret/types/type_azure_storage_account.go
  internal/secret/types/type_cloudflare.go
  internal/secret/types/type_digitalocean.go
  internal/secret/types/type_google.go
  internal/secret/types/type_htpasswd.go
  internal/secret/types/type_oracle.go
  internal/secret/types/type_password.go
  internal/secret/types/type_slack.go
  internal/secret/types/type_ssh.go
  internal/secret/types/type_tls.go
  internal/secret/types/type_vsphere.go
Labels: area/secret

#3205 fix(cl/c): fixed pathed cluster role ID validation
  internal/cluster/distribution/eks/eksprovider/workflow/validate_iam_role.go
Labels: area/cluster, cloud/aws, distribution/eks, kind/backport, reporter/customer

#3208 Upgrade mapstructure
  go.mod
  go.sum
Labels: kind/bug

#3231 chore(SDK): updated dependencies
  pkg/sdk/go.sum
Labels: kind/tech-debt

#3238 Fixed EKSListNodePools's deleted stack status
  internal/cluster/distribution/eks/service.go
  internal/cluster/distribution/eks/service_test.go
Labels: area/node-pool, cloud/aws, distribution/eks, kind/bug

#3241 ci: remove deprecated set-env
  .github/workflows/ci.yml
Labels: build

#3245 Refactor eks node pool create
  cmd/worker/main.go
  internal/cluster/clusterworkflow/activity_create_node_pool.go
  internal/cluster/clusterworkflow/aws.go
  internal/cluster/distribution/eks/eksworkflow/node_pool_creator.go
Labels: area/node-pool, cloud/aws, distribution/eks, kind/tech-debt

#3246 Refactor delete nodepool labalset activity
  cmd/worker/eks.go
  internal/cluster/clusterworkflow/delete_node_pool_label_set_activity.go
  internal/cluster/distribution/eks/eksprovider/workflow/delete_node_pool_workflow.go
  internal/cluster/distribution/eks/eksprovider/workflow/delete_node_pool_workflow_test.go
  internal/cluster/distribution/eks/eksprovider/workflow/kubernetes.go
Labels: area/node-pool, cloud/aws, distribution/eks, kind/tech-debt

#3247 improve pke token authorization
  internal/platform/gin/ginauth/middleware.go
  internal/platform/gin/ginauth/middleware_test.go
  src/auth/authz.go
  src/auth/authz_test.go
Labels: area/auth, distribution/pke

#3250 use bank-vaults 1.7.0
  docker-compose.yml
Labels: component/vault

#3248 Refactor moving code to a common awsworkflow
  cmd/pipeline/main.go
  cmd/worker/eks.go
  cmd/worker/main.go
  internal/cluster/distribution/eks/eksadapter/node_pool_manager.go
  internal/cluster/distribution/eks/eksadapter/node_pool_manager_test.go
  internal/cluster/distribution/eks/eksprovider/workflow/amazon.go
  internal/cluster/distribution/eks/eksprovider/workflow/bootstrap_activity.go
  internal/cluster/distribution/eks/eksprovider/workflow/create_asg_activity.go
  internal/cluster/distribution/eks/eksprovider/workflow/create_cluster_user_access_key_activity.go
  internal/cluster/distribution/eks/eksprovider/workflow/create_eks_control_plane_activity.go
  internal/cluster/distribution/eks/eksprovider/workflow/create_iam_roles_activity.go
  internal/cluster/distribution/eks/eksprovider/workflow/create_subnet_activity.go
  internal/cluster/distribution/eks/eksprovider/workflow/create_vpc_activity.go
  internal/cluster/distribution/eks/eksprovider/workflow/delete_control_plane_activity.go
  internal/cluster/distribution/eks/eksprovider/workflow/delete_orphan_nic_activity.go
  internal/cluster/distribution/eks/eksprovider/workflow/delete_ssh_key_activity.go
  internal/cluster/distribution/eks/eksprovider/workflow/delete_stack_activity.go
  internal/cluster/distribution/eks/eksprovider/workflow/get_ami_size_activity.go
  internal/cluster/distribution/eks/eksprovider/workflow/get_cf_stack_activity.go
  internal/cluster/distribution/eks/eksprovider/workflow/get_cf_stack_activity_test.go
  internal/cluster/distribution/eks/eksprovider/workflow/get_orphan_nics_activity.go
  internal/cluster/distribution/eks/eksprovider/workflow/get_owned_elbs_activity.go
  internal/cluster/distribution/eks/eksprovider/workflow/get_subnet_stacks_activity.go
  internal/cluster/distribution/eks/eksprovider/workflow/get_subnets_details_activity.go
  internal/cluster/distribution/eks/eksprovider/workflow/get_vpc_config_activity.go
  internal/cluster/distribution/eks/eksprovider/workflow/save_k8s_config_acitivity.go
  internal/cluster/distribution/eks/eksprovider/workflow/update_asg_activity.go
  internal/cluster/distribution/eks/eksprovider/workflow/upload_ssh_key_activity.go
  internal/cluster/distribution/eks/eksprovider/workflow/validate_iam_role.go
  internal/cluster/distribution/eks/eksprovider/workflow/wait_elbs_deletion_activity.go
  internal/cluster/distribution/eks/eksprovider/workflow/zz_generated.mock.go
  internal/cluster/distribution/eks/eksworkflow/activity_update_cluster_version.go
  internal/cluster/distribution/eks/eksworkflow/activity_wait_update_version.go
  internal/cluster/distribution/eks/eksworkflow/workflow_update_node_pool.go
  internal/cluster/infrastructure/aws/awsworkflow/amazon.go
  internal/cluster/infrastructure/aws/awsworkflow/aws_session.go
  internal/cluster/infrastructure/aws/awsworkflow/cloudformation.go
  internal/cluster/infrastructure/aws/awsworkflow/zz_generated.mock.go
Labels: area/node-pool, cloud/aws, distribution/eks, kind/tech-debt

#3240 Improve docker build
  .github/workflows/ci.yml
Labels: DX, build, kind/enhancement

#3249 fix /me endpoint for virtual users
  src/api/user.go
  src/auth/user.go
Labels: area/auth

#3254 Refactor DeleteStackActivity
  cmd/worker/eks.go
  internal/cluster/distribution/eks/eksprovider/workflow/amazon.go
  internal/cluster/distribution/eks/eksprovider/workflow/delete_infra.go
  internal/cluster/distribution/eks/eksprovider/workflow/delete_infra_test.go
  internal/cluster/distribution/eks/eksprovider/workflow/delete_node_pool_workflow.go
  internal/cluster/distribution/eks/eksprovider/workflow/delete_node_pool_workflow_test.go
  internal/cluster/infrastructure/aws/awsworkflow/amazon.go
  internal/cluster/infrastructure/aws/awsworkflow/delete_stack_activity.go
Labels: area/node-pool, cloud/aws, distribution/pke, kind/tech-debt

#3259 Upgrade mapstructure
  go.mod
  go.sum
Labels: kind/backport

#3272 eks: support for ARM images
  docs/developer.md
  internal/cluster/distribution/eks/image_selector.go
  internal/cluster/distribution/eks/image_selector_defaults.go
  internal/cluster/distribution/eks/image_selector_test.go
Labels: distribution/eks, kind/enhancement
