Repository banzaicloud/pipeline, pull requests merged in 2021-03, with the labels that each got.

#3440 Add cleanup activity for Integrated Service v2
  cmd/worker/main.go
  internal/cluster/clusterworkflow/BUILD.plz
  internal/cluster/clusterworkflow/workflow_delete_cluster.go
  internal/integratedservices/BUILD.plz
  internal/integratedservices/cleanup.go
  internal/integratedservices/integratedserviceadapter/workflow/BUILD.plz
  internal/integratedservices/integratedserviceadapter/workflow/integrated_service_clean_activity.go
  internal/integratedservices/interface.go
Labels: area/integrated-services

#3462 Upgraded Cadence client library to 0.14.1
  go.mod
  go.sum
  pkg/sdk/go.mod
  pkg/sdk/go.sum
  third_party/go/BUILD.plz
Labels: component/cadence

#3469 Upgraded Cadence local server 0.14.1->0.15.1
  docker-compose.yml
Labels: DX, component/cadence

#3468 Propagated EKS NP CF stack tags to volumes
  internal/cluster/distribution/eks/eksprovider/workflow/create_asg_activity.go
  internal/cluster/distribution/eks/eksprovider/workflow/update_asg_activity.go
  internal/cluster/distribution/eks/eksworkflow/activity_update_node_group.go
  templates/eks/amazon-eks-iam-cf.yaml
  templates/eks/amazon-eks-nodepool-cf.yaml
Labels: area/node-pool, cloud/aws, distribution/eks, kind/enhancement, reporter/customer
