Repository banzaicloud/pipeline, pull requests merged in 2021-11, with the labels that each got.

#3593 Consolidate EBS volume size units to GiB
  .gen/pipeline/api/openapi.yaml
  .gen/pipeline/pipeline/model_amazon_auto_scaling_group.go
  .gen/pipeline/pipeline/model_create_node_pool_request.go
  .gen/pipeline/pipeline/model_eks_node_pool.go
  .gen/pipeline/pipeline/model_eks_node_pool_all_of.go
  .gen/pipeline/pipeline/model_eks_update_node_pool_request.go
  .gen/pipeline/pipeline/model_eks_update_node_pool_request_all_of.go
  .gen/pipeline/pipeline/model_node_pool.go
  .gen/pipeline/pipeline/model_node_pool_summary.go
  .gen/pipeline/pipeline/model_pke_aws_update_node_pool_request.go
  .gen/pipeline/pipeline/model_pke_aws_update_node_pool_request_all_of.go
  .gen/pipeline/pipeline/model_update_node_pool_request.go
  apis/pipeline/pipeline.yaml
  charts/pipeline/values.yaml
  config/config.yaml.dist
  internal/cluster/distribution/eks/eksprovider/workflow/select_volume_size_activity.go
  internal/cluster/distribution/eks/eksprovider/workflow/select_volume_size_activity_test.go
  templates/pke/master.cf.yaml
  templates/pke/masters.cf.yaml
  templates/pke/worker.cf.yaml
Labels: cloud/aws, distribution/eks, dev/openapi, kind/tech-debt, area/node-pool

#3592 feat: add node pool name validation
  internal/cluster/distribution/eks/ekscluster/eks.go
  pkg/common/common.go
Labels: cloud/aws, distribution/eks, kind/tech-debt, area/node-pool

#3591 Fix logging asg failures
  internal/cluster/distribution/eks/ekscluster/nodepools/BUILD.plz
  internal/cluster/distribution/eks/ekscluster/nodepools/wait_for_asg.go
  internal/cluster/distribution/eks/eksprovider/workflow/amazon.go
  pkg/providers/amazon/autoscaling/autoscaling.go
  pkg/providers/amazon/autoscaling/errors.go
  pkg/providers/amazon/autoscaling/manager.go
Labels: cloud/aws, component/cadence, area/node-pool

#3587 Fix cluster status response codes
  .gen/pipeline/api/openapi.yaml
  .gen/pipeline/pipeline/model_create_cluster_response_201.go
  apis/pipeline/pipeline.yaml
  internal/cluster/BUILD.plz
  internal/cluster/distribution/eks/eksprovider/driver/cluster_creator.go
  internal/cluster/service.go
  internal/cluster/service_cluster.go
  src/api/cluster_create.go
  src/api/error.go
  src/cluster/manager_create.go
Labels: area/cluster, dev/openapi

#3595 Updated local env Cadence to "chart 0.21.3"
  docker-compose.yml
Labels: component/cadence

#3596 Updated Cadence client 0.17.0->0.18.5, cadence-aws-sdk 0.4.0->0.5.0
  .licensei.toml
  .wollemi.json
  go.mod
  go.sum
  pkg/sdk/go.mod
  pkg/sdk/go.sum
  third_party/go/BUILD.plz
Labels: component/cadence, kind/tech-debt
