Repository banzaicloud/pipeline, pull requests merged in 2022-10, with the labels that each got.

#3644 Updated default PKE version 0.8.1->0.9.3
  internal/cluster/distribution/pke/pkeaws/image_selector_defaults.go
  internal/cluster/distribution/pke/pkeaws/pkeaws.go
  internal/pke/kubernetes.go
  internal/providers/azure/pke/driver/cluster_creator.go
  internal/providers/vsphere/pke/driver/cluster_creator.go
  internal/providers/vsphere/pke/workflow/create_node_activity_test.go
  src/cluster/ec2_pke.go
  templates/pke/master.cf.yaml
  templates/pke/masters.cf.yaml
  templates/pke/worker.cf.yaml
Labels: cloud/azure, cloud/aws, distribution/pke, cloud/vsphere

#3645 Updated PKE image Cloudinfo request params
  .gen/cloudinfo/api/openapi.yaml
  .gen/cloudinfo/api_images.go
  apis/cloudinfo/openapi.yaml
  cmd/worker/main.go
  internal/cluster/distribution/pke/pkeaws/pkeawsadapter/image_selector.go
Labels: component/cloudinfo, distribution/pke

#3647 Added EBS CSI driver policy to EKS NodeInstanceRole and PKE AWS WorkerRole
  templates/eks/amazon-eks-iam-cf.yaml
  templates/pke/global.cf.yaml
Labels: kind/enhancement, cloud/aws, area/cluster, distribution/eks, area/distribution, distribution/pke, size/S
