Repository banzaicloud/pipeline, pull requests merged in 2022-09, with the labels that each got.

#3633 fix(EKS,Authn): fixed aws-iam-authn apiversion
  internal/cluster/distribution/eks/eksprovider/workflow/amazon.go
  src/cluster/eks.go
Labels: kind/bug, cloud/aws, distribution/eks

#3635 Fixed EKS new aws-iam-authn apiVersion
  Dockerfile
  internal/cluster/distribution/eks/eksprovider/workflow/amazon.go
  src/cluster/eks.go
Labels: kind/bug, cloud/aws, area/cluster, area/client, distribution/eks

#3636 fix(GKE,1.24): fixed SA token
  src/cluster/gke.go
Labels: cloud/google

#3637 Option to disable PKE on Azure and AWS
  charts/pipeline/values.yaml
  cmd/pipeline/main.go
  config/config.yaml.dist
  internal/cmd/config.go
  internal/providers/azure/pke/driver/BUILD.plz
  internal/providers/azure/pke/driver/cluster_creator.go
  src/api/BUILD.plz
  src/api/cluster.go
  src/api/cluster_create.go
  src/api/error.go
Labels: cloud/azure, cloud/aws, distribution/pke

#3638 PKE K8s version validation
  internal/pke/BUILD.plz
  internal/pke/kubernetes.go
  internal/providers/azure/pke/driver/cluster_creator.go
  internal/providers/vsphere/pke/driver/cluster_creator.go
  pkg/cluster/base.go
  pkg/cluster/pke/BUILD.plz
  pkg/cluster/pke/types.go
  pkg/errors/errors.go
  src/api/error.go
Labels: kind/enhancement, cloud/azure, cloud/aws, area/cluster, distribution/pke, cloud/vsphere

#3639 Fix please on darwin arm64
  .plzconfig
  BUILD.plz
  pleasew
  third_party/go/BUILD.plz
  tools/BUILD
Labels: kind/enhancement, build

#3641 fix(GKE,1.24): fixed SA token handling
  src/cluster/gke.go
Labels: cloud/google

#3642 fix(GKE,1.24): fixed error msg match
  src/cluster/gke.go
Labels: cloud/google
